.title {
  font-size: 50px;
  font-weight: 600;
}

.flex {
  display: flex;
}

.image {
  margin-right: 30px;
  width: 500px;
  height: 750px;
}

.score {
  font-size: 40px;
}

.genres,
.overview {
  font-size: 45px;
  font-weight: 500;
}

.text {
  font-size: 25px;
}

.listLink {
  font-weight: 300;
  font-size: 40%;
  margin-left: 30px;
}

.link {
  font-size: 25px;
  font-weight: 500;
}

.linkGoBack {
  padding: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color:red;
  color: aliceblue;
  font-size: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 120px;
  text-decoration: none;
}
.border {
  border-bottom: 1px solid rgba(0, 0, 255, 0.2);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 255, 0.1);
}
