.filmList {
 text-align: center;
 list-style: none;

}

.listTitle {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  
}

.listItem {
  font-weight: 300;
  font-size: 40%;
}

.link {
  font-size: 20px;
}
