.input {
  font-size: 30px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
 
 

}

.input:focus {
  border: 5px solid rgba(0, 0, 255, 0.3);
  outline: none;
}

.buttonSearch {
  display: flex;
  font-size: 30px;
  border-radius: 8px;
   margin-left: auto;
  margin-right: auto;
}
